__pycache__
.DS_Store
secret.yaml
.claude
.env
.env.*
!.env.example
.vscode
.clineignore

*.md
!**/README.md
!CONTRIBUTING.md
!LICENSE
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!docs/*.md
!implementation_plan.md